<div class="container">
  <div class="title">
    <h1 i18n="@@homeTitle">
      Tutorials
    </h1>
  </div>
  <div class="paragraphs">
    <p i18n="@@FirstParagraphTutorials">
      <b><a href="https://angular-templates.io/tutorials/about/firebase-authentication-with-angular" target="_blank">Firebase Authentication with Angular</a></b>: When developing web applications, any
      type of authentication feature is necessary. If you think of the many social
      platforms and email sign in options available, authentication looks like a
      very complex task. In this Angular 5 tutorial we will explore how to setup
      an email/password as well as social login authentication workflows for
      Angular 5 apps using AngularFire2 library.
    </p>
  </div>
</div>
